:root {
  --fz-1: 12px;
  --fz-2: 18px;
  --fz-3: 20px;

  --fw-1: 300;
  --fw-2: 400;
  --fw-3: 500;
  --fw-4: 600;
  --fw-5: 700;

  --color-1: #000000;
  --color-2: #232323;
  --color-3: #F5F5F5;
  --color-4: #FF8643;
  --color-5: #ffffff;
}